<h3>Opret bruger</h3>  
<div>
    <div>
        <label for="email">Email:</label>
        <input type="email" class="form-control" #email placeholder="Skriv email">
    </div>
    <div>
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" #pwd placeholder="Skriv password">
    </div>
    <div>
        <label for="pwd">Gentag password:</label>
        <input type="password" class="form-control" #genpwd placeholder="Skriv password igen">
    </div>
    <button (click)="submit(email.value, pwd.value, genpwd.value)">Submit</button>
</div>

<div [hidden]="!submitted">
    Bruger oprettet!
    <nav>
        <div>Gå til login</div>
        <a routerLink="/login" routerLinkActive="active">Login</a>
    </nav>
</div>
